/target/surefire-reports/2022-08-25T15-35-10_086.dumpstream
/target/surefire-reports/2022-08-25T15-35-52_706.dumpstream
/target/surefire-reports/2022-08-25T15-36-50_563.dumpstream
/target/test-classes/alcoriBDD/page/abstractPage.class
/target/alcori-bdd-1.0.0-SNAPSHOT.jar
/target/surefire-reports/alcoriBDD.RunCucumberTest.txt
/target/test-classes/browsers.properties
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/test-classes/alcoriBDD/driver/DriverManager.class
/target/test-classes/alcoriBDD/example.feature
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/test-classes/alcoriBDD/page/mainPage.class
/target/maven-archiver/pom.properties
/target/test-classes/alcoriBDD/RunCucumberTest.class
/target/test-classes/alcoriBDD/StepDefinitions.class
/target/surefire-reports/TEST-alcoriBDD.RunCucumberTest.xml
